<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>Página de Inicio</h1>

    <p>Bienvenido a nuestra página de inicio.</p>
    <a href="about.html">Ir a Acerca de Nosotros</a>
    <br /><br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quis ut est quibusdam quia
    ratione voluptatibus unde accusamus? Totam corrupti earum, consectetur aut non nulla doloribus
    maiores eaque eum vitae.
  </body>
</html>
